@model MTGRipperServer.Entities.Card

<div class="mainPrice price" data-originalprice="@Model.PriceString">
    @Model.PriceString
</div>

<div class="priceEvolution">
    @if (Model.OneDayChangeString != "-")
    {
        <div>
            <span>1 day:&nbsp;</span>
            <span class="priceCompare price @Model.GetPriceEvolutionClass(Model.OneDayChangeString)" data-originalprice="@Model.OneDayChangeString">@Model.OneDayChangeString</span>
        </div>
    }
        
    @if (Model.OneWeekChangeString != "-")
    {
        <div>
            <span>1 week:&nbsp;</span>
            <span class="priceCompare price @Model.GetPriceEvolutionClass(Model.OneWeekChangeString)" data-originalprice="@Model.OneWeekChangeString">@Model.OneWeekChangeString</span>
        </div>
    }
</div>


