@model MTGRipperServer.Models.SearchResultsModel

@if (Model.LstCards.Count > 0)
{
    foreach(MTGRipperServer.Entities.Card card in Model.LstCards)
    {
    
    <div class="panel panel-info">
        <div class="panel-heading">
            <div class="cardManaCost">
                @card.ManaCost
            </div>
            <h3 class="panel-title cardName">
               <a href="@card.MTGPriceURL" target="_blank">@card.Name</a>
            </h3>
            <div class="cardSet">
                @card.SetName
            </div>            
        </div>    
        <div class="panel-body">
            <div class="cardImagePartial">
                @Html.Partial("CardImagePartial", card)
            </div>
            <div class="cardRarity @Html.Raw("rarity" + card.Rarity)">
                @card.RarityString
            </div>           
            <div class="mainPrice">
                @card.Price $
            </div> 
            <div class="cardImagePartialMobile">
                @Html.Partial("CardImagePartial", card)
            </div>          
        </div>
    </div>
    
    }
}
else
{
    <strong>No cards found. Try with other search terms.</strong>
}